@import 'libs.scss';
@import 'vars.scss';
@import 'global.scss';

.header {
  margin-bottom: 80px;
}
.mobile-navbtn{
  display: none;
}
.heder__logo-mobile{
  display: none;
}
.header__inner {
  padding-top: 54px;
  height: 696px;
  background-image: url(../images/cat_bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  &.header__inner--no_bg {
    background-image: none;
    height: auto;
  }
}


.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
}

.header__list {
  display: flex;
  margin-top: 12px;

  li {
    padding-bottom: 12px;
  }

  li:not(:last-child) {
    margin-right: 37px;
  }

  a {
    text-transform: uppercase;
    color: $white;
    font-size: 20px;
  }

  .active-link {
    border-bottom: 2px solid $white;
  }

  .active-link-green {
    border-bottom: 2px solid $green;
  }
}

.header__list.header__list--color a {
  color: $black;
}

.header__text {
  max-width: 420px;
}

.header__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 60px;
  line-height: 60px;
  color: $black;
}

.header__sub-title {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 53px;
}

.header__btn-link {
  text-transform: uppercase;
  color: $white;
  padding: 17px 29px 15px 26px;
  background-color: $green;
}

.header-big__img {
  position: absolute;
  top: 136px;
  right: 335px;
}

.catalog-options {
  margin-bottom: 79px;
}

.catalog-options__items {
  display: flex;
  justify-content: space-between;
}

.catalog-options__item {
  background-color: #f2f2f2;
  max-width: 570px;
  padding: 41px 52px 62px;
  position: relative;
}

.skinny-cat-size {
  width: 100px;
  height: 100px;
}

.strong-cat-size {
  width: 130px;
  height: 92px;
}

.catalog-options__img {
  position: absolute;
  left: 50px;

  img {
    max-width: 100%;
  }
}

.catalog-options__title {
  font-size: 36px;
  text-transform: uppercase;
  color: $black;
  margin-left: 165px;
  margin-bottom: 75px;
  margin-top: 40px;
}

.text-block {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $black-week;
  margin: 0;
}

.catalog-options__text {

  margin-bottom: 32px;
}

.catalog-options__link {
  font-size: 20px;
  text-transform: uppercase;
  color: $black;
  padding-right: 50px;
  position: relative;

  &::before {
    content: '';
    background-image: url(../images/right_arrow.png);
    background-size: cover;
    width: 24px;
    height: 11px;
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
  }
}

.show-work {
}

.big-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
  margin-bottom: 64px;
}

.show-work__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show-work__item {
  width: 247px;
  min-height: 227px;
  position: relative;
  margin-bottom: 87px;
}

.show-work__item-icon {
  width: 80px;
  height: 80px;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}

.show-work__item-text {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: $black-week;
}

.show-work__item-num {
  font-size: 281px;
  line-height: 202px;
  color: #f2f2f2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.example {}

.example__main {
  background-color: #f2f2f2;
  padding: 75px 0;
}

.example__content {
  max-width: 435px;
  width: 100%;
}

.example__content-text {
  margin-bottom: 65px;
}

.example__info-bages {
  display: flex;
  margin-bottom: 62px;
}

.example__info-bage {
  width: 162px;
  height: 72px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  span {
    display: block;
    text-align: center;
  }

  span:first-child {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: $black;
    line-height: 70px;
  }

  span:last-child {
    color: $black-week;
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0 8px;
    background-color: #f2f2f2;
  }

  &:not(:last-child) {
    margin-right: 42px;
  }
}

.example__expenses {
  font-size: 20px;
  text-transform: uppercase;
  color: black;

  span {}

  span:first-child {
    margin-right: 59px;
  }
}

.example__inner {
  display: flex;
}

.example__slider-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: -30px;
}

.beer-slider {
  position: relative;
}

.catimg {
  width: initial !important;
  height: initial !important;
  transform: translateX(60px);
}

.beer-reveal {
  background-color: #f2f2f2;
}

.beer-handle {
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

  &::before {
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border: none;
    border-radius: 50%;
  }

  &::after {
    display: none;
  }
}

.map__box {
  height: 400px;
  max-width: 1440px;
  margin: 0 auto;
}

.map__info-wrapper {
  position: relative;
}

.map__info {
  position: absolute;
  top: 90px;
  background-color: #fff;
  width: 570px;
  height: 201px;
  z-index: 99999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__info-text {
  width: 138px;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: $black;
  margin-right: 95px;
}

.map__info-adress {
  width: 155px;
  font-size: 14px;
  line-height: 18px;
  color: $black-week;
  transform: translateY(-3px);
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

.footer {
  background-color: #f2f2f2;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
}

.text-log {}

.footer__icons {
  display: flex;

}

.foter__icon {
  &:not(:last-child) {
    margin-right: 28px;
  }

  svg {
    transition: all 0.3s;
    stroke: #3f3f3f;
    fill: #3f3f3f;
  }

  svg:hover {
    stroke: $green;
    fill: $green;
  }
}


.catalog {
  .big-title {
    margin-bottom: 155px;
  }
}

.container {}

.big-title {}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -10px;
}

.catalog__item {
  width: 245px;
  background-color: #f2f2f2;
  position: relative;
  padding: 165px 40px 40px;
  margin-bottom: 142px;
  margin-right: 10px;

}

.catalog__item-inner {}

.catalog__item-img {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  &.catalog__item-img--big{
    
  }
}


.catalog__item-title {
  font-size: 20px;
  text-transform: uppercase;
  color: $black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  padding: 0 10px;
}

.catalog__item-info {
  font-size: 14px;
  font-weight: 400;
  color: $black-week;
  font-family: Verdana, Tahoma, sans-serif;
  margin-bottom: 33px;
}

.catalog__item-info-row {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px solid #cdcdcd;
}

.catalog__item-oreder {
  display: block;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  text-align: center;

  span {
    line-height: 40px;
  }
}

.catalog__item.catalog__item--more {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .catalog__item-info {
    text-align: center;
  }
}

.catalog__item--more {}

.extra-goods {
  .line-title {
    margin-top: -75px;
  }
}

.line-title {
  position: relative;
  margin-bottom: 75px;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $green;
    position: absolute;
    top: 26px;
    z-index: -99;
  }

  span {
    font-size: 36px;
    font-weight: 400;
    color: $black;
    background-color: #fff;
    padding: 0 35px;
    margin-left: -35px;
  }

}

.extra-goods__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.exetra-goods__table {
  max-width: 895px;
  width: 100%;
}

.exetra-goods__row {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.extra-goods__type {
  font-size: 20px;
  text-transform: uppercase;
  color: #222222;
  max-width: 325px;
  width: 100%;
}

.extra-goods__quantity {
  max-width: 243px;
  width: 100%;
  color: #444444;
}

.extra-goods__sum {
  max-width: 80px;
  width: 100%;
  color: #444444;
}

.extra-goods__btn {
  width: 100%;
  background-color: $green;
  max-width: 245px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.extra-goods__gift {
  width: 245px;
  background-image: url(../images/gift_photo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 65px 48px;
  color: #fff;
}

.extra-goods__gift-img {
  flex-grow: 1;
}

.extra-goods__gift-text {
  text-align: center;
}

.header__line-form {
  margin-bottom: 0;
}

.pickup-program {
  .big-title {
    margin-bottom: 53px;
  }

  .line-title {
    margin-bottom: 0;
  }
}

.pickup-program {
  padding-bottom: 40px;
}

.pickup-program__description {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  max-width: 330px;
}

.form {}

.form__row {
  padding: 68px 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: uppercase;
}

.form__block {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
}

.form__block--radiobtn {
  border: 1px solid #cdcdcd;
  justify-content: center;
  padding-left: 28px;

  label {
    width: fit-content;
  }
}

.form__inputs {
  color: #222222;
  display: flex;
  align-items: center;

  input {
    height: 52px;
    border: 1px solid #cdcdcd;
    padding: 0 20px;
    flex-grow: 1;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  input::placeholder {
    color: #444444;
    text-transform: uppercase;
  }
}

.form__inputs-text {
  margin-right: 16px;
}

.form__radio-inputs {
  padding: 9px;
  padding-left: 60px;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.form__radio-btn,
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__radio-style {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  position: absolute;

  &::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #68b738;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.form__radio-btn:checked+.form__radio-style::before {
  display: block;
}

.form__contacts.form__inputs:not(:last-child) {
  margin-bottom: 0;
}

.form__contacts {
  flex-basis: 570px;
  margin-bottom: 0;
 

  input {
    width: initial;
    max-width: 475px;
    width: 100%;
    padding-right: 40px;
  }
  input[type="tel"] {
    background-image: url(../images/icons/phone_input_icon.png);
    background-position: calc(100% - 18px) 50%;
    background-repeat: no-repeat;
  }
  input[type="email"] {
    background-image: url(../images/icons/mail_input_icon.png);
    background-position: calc(100% - 18px) 50%;
    background-repeat: no-repeat;
  }
}

.line-title {}

.form__comment {
  width: 100%;
  height: 174px;
  padding: 17px;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
  resize: none;
  border: 1px solid #cdcdcd;
}

.form__chexbox-inputs {
  padding: 11px 11px 11px 58px;
  position: relative;
  cursor: pointer;
}

.form__checkbox-style {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  bottom: 3px;

  &::before {
    content: '';
    display: block;
    width: 21px;
    height: 16px;
    background-image: url(../images/tick.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.form__checkbox:checked+.form__checkbox-style::before {
  display: block;
}

.form__submit {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  max-width: 568px;
  width: 100%;
  height: 52px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: '* — Обязательные поля';
    display: block;
    position: absolute;
    right: -221px;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    text-transform: initial;
  }
}

// MEDIA QUERIES

@import 'media.scss';